:root {
  --bg-primary: #ffffff;
  --bg-secondary: #98d79e;
  --text-primary: #2eba41;
  --text-secondary: #ffffff;
  --text-accent: #fb2235;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  list-style: none;
  padding: 10px 0;
}
.nav-links li {
  width: 70%;
  padding: 10px;
}

.active {
  border-bottom: 2px solid var(--text-accent);
}
.nav-links li a {
  text-decoration: none;
  color: var(--text-secondary);
}

.hero {
  position: absolute;
  height: 100vh;
}

.subhero {
  width: 100%;
  height: 100%;
}

.select {
  height: 100%;
  width: 15%;
  position: fixed;
}

.show-container {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}

.most-order {
  border-radius: 10px;
}

.most-order {
  overflow-x: auto;
}
.mobile-nav{
  display: none;
}

.burger{
  display: none;
}

@media screen and (max-width: 991px) {
  .main-select {
    opacity: 0;
    display: none !important;
  }
  .mobile-nav{
    width: 100%;
    min-height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease;
  }
  .mobile-nav .nav-links{
    display: none;
    align-items: center;
    transition: all 0.5s ease;
  }
  .mobile-nav .navactive{
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
  }
  .main{
    margin-top: 7vh;
  }
  .mobile-nav .nav-links li{
    width: 30%;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .burger{
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
  }
  .burger div{
    background-color: #fafafa;
    width: 20px;
    height: 3px;
    transition: all 0.3s ease;
    
  }
  .line1{
    transform: rotate(45deg) translate(4px,-1px);
  }
  .line2{
    transform: rotate(-45deg) translateX(-4px);
  }
  .line1active{
    transition: all 0.3s ease;
    transform: rotate(45deg) translateX(10px);
  }
  .line2active{
    transition: all 0.3s ease;
    transform: rotate(-45deg) translate(-14px,-4px);
  }
}
