{% extends 'menu/base.html' %}
{% load static %}
{% block content %}
    <main id="swup" class="transation-fade">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            {% include 'menu/nav.html' %}
            <div class="category mt-5 d-flex justify-content-start align-items-center">
             {% include 'menu/categoryBar.html' %}
            </div>
            <div class="menu-container mt-3 py-4">
              <div class="row">
                <h3>Best Selling Item !!</h3>
                {% for i in bestselling %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{{i.image.url}}" alt="">
                    </div>
                    <div class="menu-detail">
                      <div style="display:flex;align-items: flex-start;"><h5>{{i.name}}</h5>
                        </div>
                      <div class="d-flex flex-column justify-content-around align-items-center">
                        <button class="add-btn" data-action='add' data-slug='{{i.slug}}' ><i class="fas fa-plus-circle"></i></button>
                        <h5><i>${{i.price}}</i> </h5>
                      </div>
                      
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="row">
                <h3>All</h3>
                {% for i in menu %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                  <div class="menu-item">
                    <div class="menu-img">
                      <img src="{{i.image.url}}" alt="">
                    </div>
                    <div class="menu-detail">
                      <div><h5>{{i.name}}</h5>
                        </div>
                      <div class="d-flex flex-column justify-content-around align-items-center">
                        <button class="add-btn" data-action='add' data-slug='{{i.slug}}' ><i class="fas fa-plus-circle"></i></button>
                        <h5><i>${{i.price}}</i> </h5>
                      </div>
                      
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
    </main>

    {% if request.user.is_authenticated %}
    <script type="text/javascript">

      var btn = document.getElementById("burger");
      var cart = document.getElementById("cart");
      
      active = localStorage.getItem('active')
      if (active == 'active'){
        cart.classList.add(active);
      }else{
        cart.classList.remove('active');
      }
      

      btn.addEventListener("click", () => {
        active = localStorage.getItem('active')
        if (active == 'active'){
          localStorage.setItem('active', 'unactive');
          active = localStorage.getItem('active')
          cart.classList.remove('active');
        }else{
          localStorage.setItem('active', 'active');
          active = localStorage.getItem('active')
          cart.classList.add(active);
        }
        
      });
     var updateBtns = document.getElementsByClassName('add-btn')

      for (var i=0; i< updateBtns.length; i++){
        updateBtns[i].addEventListener('click',function(){
          var menuSlug = this.dataset.slug
          var action = this.dataset.action
          cookOrder(menuSlug,action)
        })
      }


      function cookOrder(menuSlug,action){
        console.log('sendind daata')
        var url = '{% url 'menu:handleOrder' %}'


        fetch(url , {
          method:'POST',
          headers:{
            'Content-Type':'application/json',
            'X-CSRFToken': csrftoken,
          },
          body:JSON.stringify({'menuSlug': menuSlug, 'action' : action})
        })

        .then((response) => {
          return response.json()
        })

        .then((data) => {
          location.reload();
          
          
        })
      }
      
    </script>
    {% else %}
    <script type="text/javascript">
      var btn = document.getElementById("burger");
      var cart = document.getElementById("cart");

      btn.addEventListener("click", () => {
        window.alert('Create Account To Make An Order')
      });
     var updateBtns = document.getElementsByClassName('add-btn')

      for (var i=0; i< updateBtns.length; i++){
        updateBtns[i].addEventListener('click',function(){
          window.alert('Create Account To Make An Order')
        })
      }
    </script>
    {% endif %}
{% endblock %}